[Unit]
  Description=Shadowsocks

  [Service]
  TimeoutStartSec=0
  ExecStart=/root/Applications/miniconda/envs/py/bin/ssserver -c /etc/shadowsocks.json

  [Install]
  WantedBy=multi-user.target
